* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: #f4faff;
    color: #333;
    line-height: 1.6;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #4987e4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    top: 0;
    flex-wrap: wrap;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 110px;
}

nav ul li a {
    color: white;
    font-weight: 600;
    font-size: large;
    text-decoration: none;
}

nav ul li a:hover {
    color: #b7cefb;
}

.search {
    display: flex;
    gap: 10px;
}

.search input[type="text"] {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

.search button {
    padding: 6px 15px;
    border: none;
    border-radius: 4px;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}

.search button:hover {
    background: #2668f6;
    color: white;
}

.hero {
    padding: 100px 20px;
    text-align: center;
    background: linear-gradient(135deg, #6dd5fa, #2980b9);
    color: white;
    flex: 1;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 14px 35px;
    background: white;
    color: #4987e4;
    font-weight: 700;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover {
    background: #0b4edc;
    color: white;
}

footer {
    background-color: #4987e4;
    color: white;
    text-align: center;
    padding: 25px 20px;
}

footer p {
    font-weight: 500;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: white;
    margin: 12px;
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    color: #a3c1ff;
}

@media(max-width:600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        gap: 15px;
    }

    nav ul li a {
        font-size: 1.1rem;
    }

    .search {
        width: 100%;
        margin-top: 10px;
    }

    .search input[type="text"] {
        flex: 1;
    }
}
